/************
 GOOGLE FONTS
 ************
    Popular Pairings with Merriweather -> https://fonts.google.com/specimen/Merriweather
*/

/* Headings */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'), 
         local('Merriweather-Regular'), 
         url(../fonts/merriweather/merriweather.woff2) format('woff2');
}

/* Body Text */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), 
         local('OpenSans'), 
         url(../fonts/opensans/opensans.woff2) format('woff2');
}






/***************************************
 COLOR SCHEME -> https://color.adobe.com
 ***************************************
    button-bg: #78C0F9
    footer-bg: #FFDDCE
    main-bg: #FFF
    header-bg: #FFDBE6 
    button-link-hover: #FE86A4
*/






/*************
 GENERAL STUFF
 *************/
* {
    box-sizing: border-box;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

header {
    background-color: #FFDBE6;
    padding: 2rem 0;
}

main {
    background-color: #FFF;
    padding: 2rem 0;
}

footer {
    background-color: #FFDDCE;
    padding: 2rem 0;
}

.box {
    max-width: 100rem;
    margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

img {
    width: 100%;
    height: auto;
}

figure {
    margin: 1rem 0;
}



/********** 
 NAVIGATION 
 **********/
ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: white;
    padding: 0.5rem;
    margin: 0 0 0.2rem;
    color: #333;
}

ul li a:hover {
    text-decoration: underline;
}




/******
 SLIDES
 ******/
.navigate-slide button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #CDEBF9;
    color: #000;
    border: 1px solid #CDEBF9;
    cursor: pointer;
}

.navigate-slide button:hover {
    background-color: #78C0F9;
    border: 1px solid #78C0F9;
}

.navigate-slide a {
    padding: 0.5rem;
    color: #000;
    background-color: #FFDBE6;
    border: 1px solid #FFDBE6;
    text-decoration: none;
}

.navigate-slide a:hover {
    background-color: #FE86A4;
    border: 1px solid #FE86A4;
}







/*********************
 TABLET & DESKTOP VIEW
 *********************/

@media screen and (min-width: 50rem) {
    
    body {
        text-align: left;
    }
    
    /********** 
     NAVIGATION 
     **********/
    ul li a {
        width: calc(33.33% - 0.3rem + 0.1rem);
        float: left;
        margin: 0 0.3rem 0 0;
    }
    
    ul li:last-child a {
        margin: 0;
    }
    

}

@media screen and (min-width: 102rem) {
    /********** 
     LAYOUT 
     **********/
    .box {
        margin: 0 auto;
    }
}





